* {
    box-sizing:border-box;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 15px;
}
h6 {
    font-size: 10px
}
i {
    font-style: italic;
}

p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.span-1 { grid-column: span 1; }
.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }
.span-7 { grid-column: span 7; }
.span-8 { grid-column: span 8; }
.span-9 { grid-column: span 9; }
.span-10 { grid-column: span 10; }
.span-11 { grid-column: span 11; }
.span-12 { grid-column: span 12; }

/*Home*/
body {
    background-size: 100% auto;
}
#home {
    background-image: url(../bape/bape1.png);
}

#history {
    background-image: url(../bape/bape2.png);
}

#timeline {
    background-image: url(../bape/bape3.png);
}

#collab {
    background-image: url(../bape/bape4.png);
}

#pop {
    background-image: url(../bape/bape5.png);
}

.top-panel-home {
    display: flex;
    padding: 1rem;
    top: 0;
    background-color: #E096B7;
    align-items: center;
    border: 2px solid white;
}

.top-panel-home a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.top-panel-home a:hover {
    background-color: #CE236D;
    border-radius: .5rem;
}
.top-panel-home h1 a {
    display: flex;
    padding-left: 2rem;
    letter-spacing: .5rem;
    word-spacing: 1rem;
    align-content: center;
    font-size: 3rem;
}
.top-panel-home h1 a:hover {
    background-color: #E096B7;
    border-radius: 0;
    text-decoration: underline;
}


.nav-bar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.nav-bar ul {
    display: flex;
    gap: 2rem;
}

.nav-bar li {
    font-size: 20px;
}

.carousel-inner {
    border: 2px solid white;
    border-radius: .5rem;
}
#carouselExampleAutoplaying {
    margin: 0px auto;
    margin-top: 1rem;
}


.grid-item-home {
    margin-top: 1rem;
    border: 2px solid white;
    border-radius: .5rem;
    background-color: rgb(221, 156, 183);
    padding: 1rem;
    color: white;
}

.grid-item-home h2 {
  font-size: 2.5rem;
  text-align: center;
}

.grid-item-home h3 {
    text-align: center;
}


.grid-item-home:nth-child(2) img{
    position: relative;
    width: 50%;
    height: auto;
    left: 25%;
    right: 25%;
    border-radius: .5rem;
    top: 1rem;
    margin-bottom: 1rem;
}
.grid-item-home img {
    width: 100%;
    height: auto;
}


.app-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}
.app-card {
    padding: 1rem;
    border: 2px solid white;
    border-radius: .5rem;
    background-color: #d63384;
}
.app-card h4 {
    text-align: center;
    color: white;
}
.app-card img {
    width: 50%;
    height: auto;
    border-radius: 1.5rem;
}
.app-card a {
    color: white;
    text-decoration: none;
}
.app-card a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
    border: 2px solid white;
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgb(221, 156, 183);
}
footer ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer h3 {
    color: white;
    font-size: 1.25rem;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}

/*History*/

.top-panel-history {
    display: flex;
    padding: 1rem;
    top: 0;
    background-color: #DFA4AD;
    align-items: center;
    border: 2px solid white;
}
.top-panel-history a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.top-panel-history a:hover {
    background-color: #D03D50;
    border-radius: .5rem;
}
.top-panel-history h1 a {
    display: flex;
    padding-left: 2rem;
    letter-spacing: .5rem;
    word-spacing: 1rem;
    align-content: center;
    font-size: 3rem;
}
.top-panel-history h1 a:hover {
    background-color: #DFA4AD;
    border-radius: 0;
    text-decoration: underline;
}

.grid-item-history {
    margin-top: 1rem;
    grid-column: 1/13;
    border: 2px solid white;
    border-radius: .5rem;
    background-color: #DFA4AD;
    padding: 1rem;
}

.grid-item-history h2 {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
}
.container-history {
    position: relative;
    color: white;
}
.container-history h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: bold;
}
.container-history p {
    position: absolute;
    top: 80%;
}
.grid-item-history img {
    width: 100%;
    height: auto;
}
.footer-history {
    text-align: center;
    border: 2px solid white;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #DFA4AD;
}
.footer-history ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-history h3 {
    color: white;
    font-size: 1.25rem;
}
.footer-history a {
    text-decoration: none;
    color: white;
}
.footer-history a:hover {
    text-decoration: underline;
}
/*Timeline*/

.top-panel-timeline {
    display: flex;
    padding: 1rem;
    top: 0;
    background-color: #FFB3D9;
    align-items: center;
    border: 2px solid white;
}
.top-panel-timeline a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.top-panel-timeline a:hover {
    background-color: #AAFFFF;
    border-radius: .5rem;
}
.top-panel-timeline h1 a {
    display: flex;
    padding-left: 2rem;
    letter-spacing: .5rem;
    word-spacing: 1rem;
    align-content: center;
    font-size: 3rem;
}
.top-panel-timeline h1 a:hover {
    background-color: #FFB3D9;
    border-radius: 0;
    text-decoration: underline;
}
.grid-item-timeline {
    margin-top: 1rem;
    grid-column: 1/13;
    border: 2px solid white;
    border-radius: .5rem;
    background-color: #FFB3D9;
    padding: 1rem;
}
.grid-item-timeline h2 {
    text-align: center;
    color: white;
}
.checkpoint {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.checkpoint div {
    border: 2px solid white;
    border-radius: .5rem;
    padding: 1rem;

}
.checkpoint p {
    line-height: 27px;
    color: white;
}
.checkpoint:nth-child(odd) {
    border-left: 3px solid white;
    padding-right: 50%;
    padding-left: 1rem;
    transform: translateX(50%);
}
.checkpoint:nth-child(even) {
    border-right: 3px solid white;
    padding-left: 50%;
    padding-right: 1rem;
    transform: translateX(-50%);
}
.footer-timeline {
    text-align: center;
    border: 2px solid white;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #FFB3D9;
}
.footer-timeline ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-timeline h3 {
    color: white;
    font-size: 1.25rem;
}
.footer-timeline a {
    text-decoration: none;
    color: white;
}
.footer-timeline a:hover {
    text-decoration: underline;
}

/*Collaborations*/

.top-panel-collab {
    display: flex;
    padding: 1rem;
    top: 0;
    background-color: #8EBADD;
    align-items: center;
    border: 2px solid white;
}
.top-panel-collab a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.top-panel-collab a:hover {
    background-color: #3D75D1;
    border-radius: .5rem;
}
.top-panel-collab h1 a {
    display: flex;
    padding-left: 2rem;
    letter-spacing: .5rem;
    word-spacing: 1rem;
    align-content: center;
    font-size: 3rem;
}
.top-panel-collab h1 a:hover {
    background-color: #8EBADD;
    border-radius: 0;
    text-decoration: underline;
}

.grid-item-collab {
    margin-top: 1rem;
    grid-column: 1/-1;
    border: 2px solid white;
    border-radius: .5rem;
    background-color: #8EBADD;
    padding: 1rem;
}

.grid-item-collab h2 {
    text-align: center;
    color: white;
}

.collab-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.collab-card h3 {
    grid-column: span 2;
    padding-top: 1rem;
    color: white;
}
.collab-card p {
    color: white;
}

.collabt-card:nth-child(even) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.collab-card:nth-child(even) h3{
    text-align: left;
}
.collab-card:nth-child(even) p{
    text-align: left;
    grid-column: 2/3;
    grid-row: 2/3;
}
.collab-card:last-child video {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.collab-card img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
}

.footer-collab {
    text-align: center;
    border: 2px solid white;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #8EBADD;
}

.footer-collab ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-collab h3 {
    color: white;
    font-size: 1.25rem;
}
.footer-collab a {
    text-decoration: none;
    color: white;
}
.footer-collab a:hover {
    text-decoration: underline;
}

/*Pop Culture*/

.top-panel-pop {
    display: flex;
    padding: 1rem;
    top: 0;
    background-color: black;
    align-items: center;
    border: 2px solid white;
}
.top-panel-pop a {
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 1rem;
}

.top-panel-pop a:hover {
    background-color: black;
    border-radius: .5rem;
    text-decoration: underline;
}
.top-panel-pop h1 a {
    display: flex;
    padding-left: 2rem;
    letter-spacing: .5rem;
    word-spacing: 1rem;
    align-content: center;
    font-size: 3rem;
}
.top-panel-pop h1 a:hover {
    background-color: black;
    border-radius: 0;
    text-decoration: underline;
}

.footer-pop {
    text-align: center;
    border: 2px solid white;
    padding: 1rem;
    margin-top: 1rem;
    background-color: black;
}
.footer-pop ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-pop h3 {
    color: white;
    font-size: 1.25rem;
}
.footer-pop a {
    text-decoration: none;
    color: white;
}
.footer-pop a:hover {
    text-decoration: underline;
}